APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai# RSA KeyRSA_KEY = "RSA_KEY"# RSA加密公钥RSA_PUBLIC_KEY = "RSA_PUBLIC_KEY"# RSA解密私钥RSA_PRIVATE_KEY = "RSA_PRIVATE_KEY"# 是否检查访问权限CHECK_ACCESS = TRUE[DATABASE]TYPE = mysqlHOSTNAME = localhostDATABASE = saasUSERNAME = rootPASSWORD = 1002HOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX = sets_[LANG]default_lang = zh-cn